root = true

[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = false
trim_trailing_whitespace = true

# XML Files
[*.{xml,props}]
indent_size = 2

# Markdown Files
[*.md]
trim_trailing_whitespace = false